Test/CallCentet_Test/TFrameWork.CallCenter.Console/Connected Services/CallCenterServiceServiceReference/CallCenterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TFrameWorkCallCenterServer/CallCenterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.ServiceLib" />
  <xs:import schemaLocation="http://localhost/TFrameWorkCallCenterServer/CallCenterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.WCF.Service.Dto" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.ServiceLib" minOccurs="0" name="status" type="q1:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeEmloyee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeEmloyeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.WCF.Service.Dto" minOccurs="0" name="GetFreeEmloyeeResult" nillable="true" type="q2:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.WCF.Service.Dto" minOccurs="0" name="GetEmployesResult" nillable="true" type="q3:ArrayOfEmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>