Test/CallCentet_Test/TFrameWork.CallCenter.UI/Connected Services/CallCenterServiceServiceReference/CallCenterService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.WCF.Service.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.WCF.Service.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TFrameWorkCallCenterServer/CallCenterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.ServiceLib" />
  <xs:complexType name="EmployeeDto">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.ServiceLib" minOccurs="0" name="Category" type="q1:EmployeeCategory" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TFrameWork.CallCenter.ServiceLib" minOccurs="0" name="Status" type="q2:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
  <xs:complexType name="ArrayOfEmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDto" nillable="true" type="tns:ArrayOfEmployeeDto" />
</xs:schema>